* {
    margin: 0 auto;
    box-sizing: border-box;
}

div {
    width: 100%;
    height: 500px;
    background-color: lightgoldenrodyellow;
}

.choc-pic {
    width: 50%;
}

h1 {
    text-align: center;
}